/*Body*/
body {
    background: #f4f4f4;
}

/*Navbar*/
.navbar {
    background-color: #b65959;
}
.navbar .navbar-brand {
    color: #ecf0f1;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #ffdbdb;
}
.navbar .navbar-text {
    color: #ecf0f1;
}
.navbar .navbar-text a {
    color: #ffdbdb;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
    color: #ffdbdb; 
}
.navbar .navbar-nav .nav-link {
    color: #ecf0f1;
    border-radius: .25rem;
    margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #ffdbdb;
}
.navbar .navbar-nav .dropdown-menu {
    background-color: #b65959;
    border-color: #ad4444;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item {
    color: #ecf0f1;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
    color: #ffdbdb;
    background-color: #ad4444;
}
.navbar .navbar-nav .dropdown-menu .dropdown-divider {
    border-top-color: #ad4444;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #ffdbdb;
    background-color: #ad4444;
}
.navbar .navbar-toggler {
    border-color: #ad4444;
}
.navbar .navbar-toggler:hover,
.navbar .navbar-toggler:focus {
    background-color: #ad4444;
}
.navbar .navbar-toggler .navbar-toggler-icon {
    color: #ecf0f1;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: #ecf0f1;
}
.navbar .navbar-link {
    color: #ecf0f1;
}
.navbar .navbar-link:hover {
    color: #ffdbdb;
}

@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ecf0f1;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #ffdbdb;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #ffdbdb;
        background-color: #ad4444;
    }
}

@media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ecf0f1;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #ffdbdb;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #ffdbdb;
        background-color: #ad4444;
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ecf0f1;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #ffdbdb;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #ffdbdb;
        background-color: #ad4444;
    }
}

@media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ecf0f1;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #ffdbdb;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #ffdbdb;
        background-color: #ad4444;
    }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffdbdb;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffdbdb;
    background-color: #ad4444;
}

/*Main*/
.main-color-bg {
    background-color: #b65959 !important;
    border-color: #ad4444 !important;
    color: #ffffff !important;
}

/*Logo*/
.logo {
    height: 40px;
}

/*Home Section*/
#home-section {
    background: url('../images/be.jpg') no-repeat;
    min-height: 700px;
    background-size: cover;
    background-attachment: fixed;
}

.dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px;
}

.home-inner{
    padding-top: 100px;
    padding-bottom: 50px;
}

.center {
    text-align: center;
}

/*Dashboard*/
.breadcrumb {
    background: #cccccc;
    color: #333333;
}

.breadcrumb a {
    color: #333333;
}

.dash-box {
    text-align: center;
    padding: 10px;
}

.ads {
    width: 500px;
    height: 300px;
}

/*Footer*/
#footer {
    background: #333333;
    color: #ffffff;
    text-align: center;
    padding: 30px;
}